input, textarea {
    outline: none;
    border: 1px solid rgb(238, 238, 238);
}


.post-form {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 20px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px;
    text-align: left;
}

.form-group label {
    padding-bottom: 20px;
}

.form-group input {
    padding: 4px 8px;
    font-size: 16px;
}

.form-group textarea{
    font-size: 16px;
    padding: 14px 8px;
    width: 500px !important;
    margin-bottom: 20px;

}

.form-group:last {
    
}


input[type="submit"] {
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

article {
    padding: 20px 30px;
    background: #fff;
    margin-top: 50px !important;
    width: 650px;
    height: auto;
    margin: auto;
}

.form-new {
    padding: 20px 30px;
    background: #fff;
    margin-top: 50px !important;
    width: 650px;
    height: auto;
    margin: auto;
}

.form-edit {
    width: 650px;
    height: auto;
    margin: auto;
}

.title {
    text-align: left;
    margin-top: 34px;
    font-size: 40px;
    font-style: bold;
}

.author {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 16px;
}

.post_body {
    line-height: 26px;
}

.back-arrow {
    width: 40px;
    height: 40px;
    background: #4f5965;
    position: absolute;
    margin-left: 20%;
    border-radius: 4px;
    display:flex;
}

.back-arrow svg {
    margin: auto;
    height: 16px;
    width: 16px;
}

.edit {
    margin-top: 60px;
}

.delete {
    margin-top: 120px;
}

.like {
    margin-top: 180px;
}


